.help {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
A.help {
	COLOR: #333399
}
A.help:visited {
	COLOR: #333399
}
A.help:active {
	COLOR: #333399
}
A.help:hover {
	COLOR: #6699cc
}
H2.help {
	PADDING-LEFT: 44px; FONT-WEIGHT: bold; FONT-SIZE: 13pt; MARGIN: -5px -27px 8px; COLOR: #ffffff; PADDING-TOP: 22px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 36px; BACKGROUND-COLOR: #969696; TEXT-ALIGN: left
}
H3.help {
	PADDING-LEFT: 8px; FONT-WEIGHT: bold; MARGIN: 16px -20px 0px 20px; COLOR: #ffffff; PADDING-TOP: 3px; HEIGHT: 24px; BACKGROUND-COLOR: #ababab
}
H3 A.help {
	FONT-SIZE: 11pt; COLOR: #ffffff; BACKGROUND-COLOR: #ababab
}
H4.help {
	PADDING-LEFT: 8px; MARGIN: 16px -20px 0px 20px; COLOR: #ffffff; PADDING-TOP: 3px; HEIGHT: 20px; BACKGROUND-COLOR: #ababab; TEXT-ALIGN: left
}
H4 A.help {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #ffffff; FONT-STYLE: italic; BACKGROUND-COLOR: #ababab
}
P.help {
	PADDING-BOTTOM: 0px; MARGIN: 2px 20px 0px 30px; PADDING-TOP: 4px
}
UL.help {
	MARGIN-LEFT: 54px; MARGIN-RIGHT: 20px
}
OL.help {
	MARGIN-LEFT: 54px; MARGIN-RIGHT: 20px
}
DL.help {
	MARGIN-LEFT: 36px; MARGIN-RIGHT: 20px
}
DT A.help {
	FONT-WEIGHT: bold; COLOR: #000000
}
DD.help {
	PADDING-BOTTOM: 20px; PADDING-TOP: 2px
}
LI.help {
	PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
TABLE.help {
	MARGIN-LEFT: 30px
}
PRE {
	MARGIN-LEFT: 30px; FONT-FAMILY: monospace
}
TH.help {
	PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px; TEXT-ALIGN: left
}
TD.help {
	PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px; TEXT-ALIGN: left
}




